.learnPage {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  background: transparent;
  height: 100vh;
}

@media (min-width: 600px) {
  .learnPage {
    line-height: 50px;
    height: 100vh;
  }
}

.parisBackground {
  opacity: 60%;
  margin-top: -41%;
  position: sticky;
  pointer-events: none;
}

@media (min-width: 600px) {
  .parisBackground {
    margin-top: -25%;
    opacity: 30%;
  }
}

.question {
  font-size: 22px;
}

@media (min-width: 600px) {
  .question {
    font-size: 28px;
  }
}

.languageHeaderLearn {
  font-size: 150%;
  margin: 10px;
}

@media (min-width: 600px) {
  .languageHeaderLearn {
    font-size: 200%;
    margin: 40px;
  }
}

.guessInput {
  display: block;
  margin: auto;
  font-size: 20px;
  padding-top: 20px;
  width: 60%;
  border-radius: 3px;
}

@media (min-width: 600px) {
  .guessInput {
    width: 30%;
  }
}

.submitAnswer {
  margin-top: 25px;
  width: 20%;
}
