.learnPage {
  height: 100vh;
  line-height: 50px;
}

.question {
  font-size: 28px;
}

.languageHeaderLearn {
  font-size: 200%;
  margin: 40px;
}

.guessInput {
  display: block;
  margin: auto;
  font-size: 20px;
  padding-top: 20px;
  width: 30%;
  border-radius: 3px;
}

.submitAnswer {
  margin-top: 25px;
  width: 20%;
}
