.learnPage {
  display: flex;
  flex-direction: column;
  line-height: 50px;
  background: transparent;
}

.parisBackground {
  opacity: 30%;
  margin-top: 70%;
  position: sticky;
  pointer-events: none;
}

@media (min-width: 600px) {
  .parisBackground {
    margin-top: -25%;
  }
}

.question {
  font-size: 28px;
}

.languageHeaderLearn {
  font-size: 200%;
  margin: 40px;
}

.guessInput {
  display: block;
  margin: auto;
  font-size: 20px;
  padding-top: 20px;
  width: 30%;
  border-radius: 3px;
}

.submitAnswer {
  margin-top: 25px;
  width: 20%;
}
