
.Label{
  margin: 10px;
  font-size: 30px;
  color: grey;
}

.Input {
  font-size: 20px;
  font-family: 'Mallanna', sans-serif;
  margin: 10px;
  padding: 3px;
  border-radius: 5px;
}

.Required {
  color: rgb(60, 72, 198);
}

.Textarea {
  padding: 30px;
}