.Label {
  margin: 10px;
  font-size: 30px;
  color: grey;
}

.Input {
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  text-align: left;
  margin: 10px auto;
  color: #393939;
  box-shadow: none;
  text-decoration: none;
  width: 75%;
  background: transparent;
  border: transparent;
  border-bottom: 1px solid grey;
}

Input:focus {
  outline-color: #393939;
  background-color: rgb(231, 231, 231, 0.4);
}

.Input::placeholder {
  color: rgb(215, 215, 215);
  text-align: left;
}

.Required {
  color: rgb(60, 72, 198);
}

.Textarea {
  padding: 30px;
}
