.register-form {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255);
  width: 90%;
  /* padding: 25px; */
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  margin-top: 8%;
}

.right-container-signup {
  display: flex;
  flex-direction: column;
  width: 67%;
}

.loginLink {
  font-size: 18px;
  text-decoration: none;
  list-style-type: none;
  color: #413f78;
}

.signup-header {
  font-size: 33px;
  color: grey;
  padding-bottom: 25px;
  width: 240px;
  margin: 0px auto;
}

.form {
  height: 100vh;
}

.signupButton {
  width: 60%;
}

@media screen and (min-width: 600px) {
  .register-form {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255);
    width: 80%;
    padding: 25px;
    justify-content: space-evenly;
    margin-top: 5%;
  }

  .form {
    height: 100vh;
  }
}
