.register-form {
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255);
  width: 80%;
  padding: 25px;
  justify-content: space-evenly;
}

.right-container-signup {
  display: flex;
  flex-direction: column;
  width: 67%;
}

.loginLink {
  font-size: 18px;
  text-decoration: none;
  list-style-type: none;
  color: #413f78;
}

.signup-header {
  font-size: 33px;
  color: grey;
  padding-bottom: 25px;
  width: 240px;
  margin: auto;
}

.form {
  height: 100vh;
}

@media screen and (min-width: 600px) {
  .register-form {
    padding: 3%;
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 10%;
  }

  .form {
    height: 100vh;
  }
}
