@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

.App {
  margin: 20px;
  font-family: 'Sen', sans-serif;
  text-align: center;
  background-color: rgb(236, 230, 230);
  margin: 0 auto;
  padding-bottom: 50px;
}
