.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 10%;
}

@media (min-width: 600px) {
  .main-container {
    flex-direction: row;
  }
}

.left-container-login {
  flex: 0 1 50%;
  min-height: 100%;
  width: 100%;
  min-width: 30%;
  height: 60vh;
  background: rgb(226, 231, 241);
}

@media (min-width: 600px) {
  .left-container-login {
    flex: 0 1 50%;

    /* padding: 0.5em; */
  }
}

.paris {
  width: 150px;
  fill: white;
}

.right-container-login {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 60vh;
  width: 100%;
  min-width: 30%;
  padding: 0.5em;
  background: rgb(246, 246, 246, 0.4);
}

@media (min-width: 600px) {
  .right-container-login {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 60vh;
    max-width: 50%;
    min-width: 30%;
    flex-wrap: wrap;
    align-items: center;
  }
}

.loginWrap {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 50%;
  width: 50%;
  margin: 0px auto;
}

.signup {
  background-color: white;
  list-style-type: none;
  text-decoration: none;
  background-color: #413f78;
  border: 2px solid rgb(205, 205, 205);
  font-size: 18px;
  color: white;
  padding: 5px 5px;
  width: 30%;
  margin: 4px auto;
}

.signup:hover {
  background-color: rgb(205, 52, 52);
  color: white;
  -webkit-box-shadow: 10px 7px 16px -9px rgba(143, 130, 143, 1);
  -moz-box-shadow: 10px 7px 16px -9px rgba(143, 130, 143, 1);
  box-shadow: 10px 7px 16px -9px rgba(143, 130, 143, 1);
}
