.frenchWord {
  font-style: oblique;
  color: rgb(60, 72, 198);
}

.incorrectWord {
  color: rgb(210, 64, 64);
}

.loading {
  height: 100vh;
}

.startPracticeButton {
  border-radius: 5px;
  background-color: rgb(249, 249, 249);
  padding: 10px;
  color: rgb(210, 64, 64);
  font-size: 30px;
  text-decoration: none;
  list-style-type: none;
}

.startPracticeButton:hover {
  background-color: rgb(210, 64, 64);
  color: rgb(246, 246, 246);
}

