h1 {
  margin: 0 auto;
  padding: 0px;
}

.header {
  margin: 0 auto;
}

.logo {
  display: block;
  font-size: 60px;
  list-style-type: none;
  text-decoration: none;
  color: rgb(79, 79, 79);
}
.navLinks {
  display: flex;
  justify-content: flex-end;
}

.userName {
  margin-right: 80px;
}

.links{
  /* margin-right: 20px;
  margin-top: 20px;
  margin: 10px; */
  font-size: 30px;
  list-style-type: none;
  text-decoration: none;
  color: rgb(79, 79, 79)
}

.links:hover {
  list-style-type: none;
  text-decoration: none;
  color: rgb(210, 64, 64);
}