@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
}

html {
  min-height: 100%;
  margin: 0;
  background-color: rgb(249, 249, 249);
  text-align: center;
}
body {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 100%;
  width: 100%;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}
